@tailwind base;
@tailwind components;
@tailwind utilities;

/* extra tweaks for body font-smoothing */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;
}
